<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movify | Do not miss a premiere!</title>
  <meta name="description" content="The Movie Notificator">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>

<body>
  <section class="container-fluid">
    <div class="well">
      <form class="form form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter title" />
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </section>
</body>
</html>